<%= link_to("<< Back to List", :action => 'index') %>

<h1>Delete Book</h1>
<%= form_for(@book, :method => 'delete') do |f| %>
    <p> Are you sure you want to permanently delete this book? </p>
    <p> <%= f.object.title %> </p>
    <%= f.submit("Delete Book") %>
<% end %>
